<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools
- Give arithmetic examples

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>SQL</li>
<li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>TensorFlow</li>
<li>NumPy</li>
<li>SciPy</li>
</ol>

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

<h2>Author</h2>
Timothy Langhans